@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.container {
  height: calc(100vh - 5.875rem);
  height: calc(var(--vh100, 1vh) - 5.875rem);
  overflow: hidden;
}

.card-body {
  min-height: fit-content;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-select {
  background-image: none !important;
  padding: $custom-select-padding-y $custom-select-padding-x;
}

::-webkit-scrollbar {
  width: 5px;
  overflow-y: scroll;
  background: $dark;
}

::-webkit-scrollbar-thumb {
  background: $card-border-color;
  border-radius: 10px;
}
